* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: orchid;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1{
    color: steelblue;
    padding: .4rew;
    margin: 10px;
}
main {max-width: 840pxs; }



main img {
    width: 100px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow:0 0 30px gray ;
    margin-top: 4px;
    float: right;
   
   
    margin: 0 0 1rem 1rem;
}

aside {
    width:20rem;
    position: relative;
}

aside img{
    width:300px;
    height:auto;
    margin-right: 15px;
}  

aside h2{
    position:absolute;
    top:20px;
    left: 150px;
    color: #000;
}

footer{
    margin: top 1rem;
    border-top: 1px solid #000;
    text-align: center;
}
/* class selector*/
.box{
    margin:1rem ;
    border: 1px solid rgba(0,0,0,.1) ;
    padding:1rem ;
    background-color: #ddd ;
    color:#000 ;
    margin-block-start: 70px;
}




p { padding: 10px;
    margin: 20px;

}
